<footer class="main-footer" >
	<div class="main-footer-content">
		<nav class="all-services" >
			<% for(area in sortedServices){ %>
				<nav class="menu-services-area-list area-list-<%- area %>" >
					<span><%- areaNames[area] %></span>
					<ul>
						<% sortedServices[area].forEach(function(service, index) { %>
							<a href="<%- service.href %>">
								<li class="plain-li" ><%- service.name %></li>
							</a>
						<% }); %>
					</ul>
				</nav>
			<% } %>
		</nav>
	</div>
	<%- include('networking', {netw_class: 'light'}); %>
	<hr class="section-divider light" >
	<footer>
		<figure class="logo">
			<%- include('logo-svg', {size: 'small'}); %>
		</figure>
		<hr>
	</footer>
</footer>