<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" >
		<title><%- texts.companyName %></title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
   		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
   		<meta http-equiv="content-language" content="br" />
   		<meta name="description" content="Temos a solução exata para o seu problema, você escolhe quanto pode pagar e a gente te ajuda." />
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Asap|Cookie|Great+Vibes|Lobster|Merienda+One|Roboto" rel="stylesheet">
		<link rel="stylesheet" href="/public/styles/general-fonts.css">
		<link rel="stylesheet" href="/public/styles/top-bar.css">
		<link rel="stylesheet" href="/public/styles/footer.css">
		<link rel="stylesheet" href="/public/styles/home.css">
		<script>
			var services = <%- JSON.stringify(services) %>;
		</script>
		<script type="text/javascript" src="/public/js/libs/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="/public/js/home.js" ></script>
	</head>
	<body>
		<% include ../topbar %>
		
		<%- 
			include('../main-menu', {
				areaNames: {
					design: texts.servicesAreas.design,
					software: texts.servicesAreas.software,
					academy: texts.servicesAreas.academy,
				}
			});
		%>

		<main class="page">
			<!-- Section Introduce -->
			<%- include('section-introduce', {slogan: [texts.slogan.split(', ')[0] + ", ", texts.slogan.split(', ')[1]]}); %>
			<!-- END section Introduce -->

			<!-- Section General-explain -->
			<%- include('section-general-explain', {text: texts.sections.generalExplain }); %>
			<!-- END section General-explain -->

			<hr class="section-divider">

			<!-- Section Makeyourelax -->
			<%- include('section-makeyourelax', {text: texts.sections.makeYouRelax }); %>
			<!-- END section Makeyourelax -->

			<!-- Section Design-area-explain -->
			<%- 
				include('section-design-area-explain', { 
					title: texts.servicesAreas.design.split(' '),
					text: texts.sections.areaExplain.design
				}); 
			%>
			<!-- END section Design-area-explain -->

			<!-- Section Software-area-explain -->
			<%- 
				include('section-software-area-explain', {
					title: texts.servicesAreas.software.split(' '),
					text: texts.sections.areaExplain.software
				}); 
			%>
			<!-- END section Software-area-explain -->

			<!-- Section Academy-area-explain -->
			<%- 
				include('section-academy-area-explain', {
					title: texts.servicesAreas.academy.split(' '), 
					text: texts.sections.areaExplain.academy
				}); 
			%>
			<!-- END section Academy-area-explain -->

			<!-- Section Main-skills -->
			<%- include('section-main-skills'); %>
			<!-- END section Main-skills -->
		
			<section class="meet-us" >
				<header>
					<h1 class="section-title" >
						<span>Conheça-nos:<br>
						<hr>
						</span>
					</h1>
				</header>
				<article class="flex flex-center-vertically right" >
					<img src="/public/images/skills-icons/flexibility.png" alt="">
					<div class="article-content" >
						<h2>Lorem ipsum Ad</h2>
						<p>Lorem ipsum Esse veniam fugiat adipisicing sint deserunt tempor est mollit pariatur consequat sunt. Lorem ipsum Qui pariatur in ut adipisicing esse. Lorem ipsum Dolore ut aliqua voluptate enim mollit in in.</p>
					</div>
				</article>
				<hr class="article-divider" >
				<article class="flex flex-center-vertically left" >
					<div class="article-content" >
						<h2>Lorem ipsum Ad</h2>
						<p>Lorem ipsum Esse veniam fugiat adipisicing sint deserunt tempor est mollit pariatur consequat sunt. Lorem ipsum Qui pariatur in ut adipisicing esse. Lorem ipsum Dolore ut aliqua voluptate enim mollit in in.</p>
					</div>
					<img src="/public/images/skills-icons/flexibility.png" alt="">
				</article>
				<hr class="article-divider" >
				<article class="flex flex-center-vertically right" >
					<img src="/public/images/skills-icons/flexibility.png" alt="">
					<div class="article-content" >
						<h2>Lorem ipsum Ad</h2>
						<p>Lorem ipsum Esse veniam fugiat adipisicing sint deserunt tempor est mollit pariatur consequat sunt. Lorem ipsum Qui pariatur in ut adipisicing esse. Lorem ipsum Dolore ut aliqua voluptate enim mollit in in.</p>
					</div>
				</article>
			</section>
		</main>
		<%- 
			include('../footer', {
				areaNames: {
					design: texts.servicesAreas.design,
					software: texts.servicesAreas.software,
					academy: texts.servicesAreas.academy,
				}
			}); 
		%>
	</body>
</html>

<!--
<%# services.forEach( function(service, index) {	%><div class="service">
	<a href="<%#- service.href%>">
		<div class="service-image" style="background-image: url('/public/images/services/dark-blue/dark-blue-<%#- service.imageSrc  %>')" ></div>
		<span class="service-title"><%#- service.name %></span>
	</a>
</div><%# }) %>
-->