<section class="make-you-relax main-section" >
	<header>
		<h1 class="section-title" >
			<span><%- text.title %><br>
			<hr>
			</span>
		</h1>
		<p class="section-subtitle" >
			<%- text.subtitle %>
		</p>
	</header>
	<article class="services-area">
		<div class="service-area">
			<figure class="area-icon">
				<img src="/public/images/area-icon/design-icon.png" alt="">
			</figure>
			<hr>
			<span><%- texts.servicesAreas.design %></span>
		</div>
		<div class="service-area">
			<figure class="area-icon">
				<img src="/public/images/area-icon/software-icon.png" alt="">
			</figure>
			<hr>
			<span><%- texts.servicesAreas.software %></span>
		</div>
		<div class="service-area">
			<figure class="area-icon">
				<img src="/public/images/area-icon/academy-icon.png" alt="">
			</figure>
			<hr>
			<span><%- texts.servicesAreas.academy %></span>
		</div>
	</article>
</section>